@model PDcase_test1.Models.FichaPaciente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ficha Pacientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomePaciente" class="control-label"></label>
                <input asp-for="NomePaciente" class="form-control" />
                <span asp-validation-for="NomePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCarteiraPlano" class="control-label"></label>
                <input asp-for="NumeroCarteiraPlano" class="form-control" />
                <span asp-validation-for="NumeroCarteiraPlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecialidadeId" class="control-label"></label>
                <select asp-for="EspecialidadeId" class="form-control" asp-items="ViewBag.EspecialidadeId"></select>
                <span asp-validation-for="EspecialidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanoDeSaudeId" class="control-label"></label>
                <select asp-for="PlanoDeSaudeId" class="form-control" asp-items="ViewBag.PlanoDeSaudeId"></select>
                <span asp-validation-for="PlanoDeSaudeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
